 .container-home {
    width: 100%;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
 }
 .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
  }
  .page-header h1,
 .page-header h2 {
	overflow: hidden;
 }
@media (max-width: 767px) {
	.page-header h1 {
		font-size: 32px;
	}
 }
 .page-header {
	border-bottom: none;
	padding-top: 30px;
	margin-top: 20px;
 }
.text-center {
    text-align: center;
  }

  .text-danger {
    color: #FFC312;
  }
  a.text-danger:hover,
  a.text-danger:focus {
    color: #e4442a;
  }

  .button-more-danger {
    border: 2px solid;
	border-radius: 5px;
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #FFC312;
    color: #fff;
    border-color: #FFC312;
}
.button-more-danger:hover {
    background-color: #fff;
    color: #FFC312;
    border-color: #fff;
	border: 2px solid #FFC312;
} 
html,body{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }